<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="auto" width="auto" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/basics/home">Home</a></td>
        <td><a href="{{site.baseurl}}/basics/html">HTML</a></td>
        <td><a href="{{site.baseurl}}/basics/datatypes">Data Types</a></td>
        <td><a href="{{site.baseurl}}/basics/dom">DOM</a></td>
        <td><a href="{{site.baseurl}}/basics/javascript">JavaScript</a></td>
        <td><a href="{{site.baseurl}}/basics/js-debug">JS Debugging</a></td>
    </tr>
</table>